<record>
  <boolean id="preload" value="false" />
  <boolean id="amap" value="false" />
  <list id="maps">
    <record from="Azam_FC_1" to="graphics/pictures/team/1/kit_textures/home" />
    <record from="Azam_FC_2" to="graphics/pictures/team/1/kit_textures/away" />
    <record from="Azam_FC_3" to="graphics/pictures/team/1/kit_textures/third" />
  </list>
</record>